.brif{
    display: flex;
    flex-direction: column;
    border: 0px solid black;
    border-radius: 10px;
    background-color: white;
    text-align: left;
    width: 900px;
    padding: 10px;
    height: 300px;
    font-size: x-small;
}

.inner-div{
    display: flex;
    justify-content: center;
    
}