

.outer{

    width: 700px;
    height: 50px;
    background-color:rgb(98, 95, 95);
    border-radius: 15px;
    color: white;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
    margin-top: 20px;
    box-shadow: inset;
    box-shadow: rgba(120, 240, 240, 0.35) 0px 5px 15px;
    
}

.inner{
    margin-inline: 3%;
    width: 84px;
}

.inner:hover{
    cursor: pointer;
    color: black;
    
    background-color: aqua;
   
    border-radius: 15px;
    width: 80px;
    padding: 2px;
   
    transition-duration: 1s;
    transition-property: background,color;
    
}